<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Skriv ett meddelande</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <a href="index.html">
            <h1>CarMatch</h1>
        </a>
    
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="log_in.html">Login</a></li>
                <li><a href="register.html">Register</a></li>
            </ul>
        </nav>
    </header>

    <div class="message-container">
        <h1>Alla Meddelanden</h1>
        {% if meddelanden %}
            <ul>
            {% for meddelande in meddelanden %}
                <li>
                    <strong>{{ meddelande[0] }}</strong>: {{ meddelande[1] }}
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Inga meddelanden har skrivits ännu.</p>
        {% endif %}
    </div>

    <footer>
        <p>&copy; 2025 CarMatch.</p>
    </footer>
    
</body>
</html>
