<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Skriv ett meddelande</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <a href="index.html">
            <h1>CarMatch</h1>
        </a>
    
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="log_in.html">Login</a></li>
                <li><a href="register.html">Register</a></li>
            </ul>
        </nav>
    </header>

    
    
</body>
</html>
