<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Skriv ett meddelande</title>
    <link rel="stylesheet" href="/static/style.css">
    
    
</head>
<body>
    <header>
        <a href="index.html">
            <h1>CarMatch</h1>
        </a>
    
        <nav>
            <ul>
                <li><a href="http://localhost:3000/index.html">Home</a></li>
                <li><a href="http://localhost:3000/log_in.html">Login</a></li>
                <li><a href="http://localhost:3000/.html">Register</a></li>
            </ul>
        </nav>
    </header>

    <div class="form-container">
        <h1>Skriv ett meddelande</h1>
        <form method="POST">
            <label for="namn">Ditt namn:</label>
            <input type="text" name="namn" required>

            <label for="text">Meddelande:</label>
            <textarea name="text" rows="4" required></textarea>

            <button type="submit">Skicka</button>
        </form>
    </div>

    <footer>
        <p>&copy; 2025 CarMatch.</p>
    </footer>
    
</body>
</html>
